block styles
	link(rel="stylesheet", href="../../components/buttons/buttons.sass")

mixin checkbox({className, text, title, name, value, id}= "")
	.checkbox-buttons
		h3.label= text
		input(class="checkbox-buttons__" + className, id=id, type="checkbox")
		label.checkbox(for=id)= title

mixin checkbox-rich({name, id, classInput, classLabel, classDescription, text, label})
	.rich-checkbox-block
		input(type="checkbox", name=name, id=id, class=classInput + "__input")
		label(class=classLabel, for=id)= label
			span(class=classDescription)= text

mixin radio({classRadio, classLabel, id, name, text}= "")
	input(class=classRadio, type="radio", name=name,  id=id, checked=check)
	label(class=classLabel, for=id)= text

mixin toggle({classInput, classLabel, title, id, text}= "")
	h3.label= title
	input(type="checkbox", class=classInput, id=id)
	label(for=id, class=classLabel)= text

mixin like({digit, classLabel, classInput}= "")
	span.like-btn
		span.material-icons favorite_border
		input(type="button", class=classInput)
		label(class=classLabel)= digit

mixin rate({classBlock, icon, iconOutline}= "")
	div(class=classBlock)
		div(class=classBlock + "__wrap")
			each el in ['5', '4', '3', '2', '1']
				input(type="radio", value=el, id=classBlock + "-" + el, class=classBlock + "__input")
				label(for="star-rating-" + el, class="material-icons " + classBlock + "__ico")= icon
			each el in ['5', '4', '3', '2', '1']
				input(type="radio", value=el, id=classBlock + "-" + el, class=classBlock + "__input")
				label(for="star-rating-" + el, class="material-icons " + classBlock + "__ico")= iconOutline
			
mixin button-gradient({classButton, text, url})
	a(href=url, class=classButton)= text

mixin button-gradient-active({classButton, text, url})
	a(href=url, class=classButton + "__active")= text

mixin button({classButton, text, url})
	a(href=url, class=classButton)= text

mixin button-active({classButton, text, url})
	a(href=url, class=classButton + "__active")= text

mixin button-arrow({classButton, text, url})
	a(href=url, class=classButton)= text
		span(class="material-icons") arrow_forward