block title
	title Отель "Toxin" | Компоненты

block styles
	link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet", href="ui-kit.sass")

block content
	.logo
		img(src="../../components/logo-m.svg", alt="Toxin")
	.container-flex
		.colors
			ul.colors-list
				-
					let text= [
						{text: 'Dark Shade 100%', code: '#1F2041'},
						{text: 'Dark Shade 75%', code: '#1F2041'},
						{text: 'Dark Shade 50%', code: '#1F2041'},
						{text: 'Dark Shade 25%', code: '#1F2041'},
						{text: 'Dark Shade 5%', code: '#1F2041'},
						{text: 'Purple', code: '#BC9CFF'},
						{text: 'Green', code: '#6FCF97'}
					];
				each element, n in text
					li.colors-list-item
						div(class="colors-box-" + n, style="width: 70px; height: 70px;border-radius: 6px; margin-bottom: 20px")
						.colors-title
							span.colors-title-description #{element.text}
							span.colors-title-code #{element.code}

		.type
			ul.type-list
				-
					let type= [
						{h: 'H1', text: 'This one is the sub-section or widget title'},
						{h: 'H2', text: 'Next one is the item title inside widgets'},
						{h: 'H3', text: 'This is a label or CTA text'},
						{h: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'}
					]
				each el, i in type
					li.type-list-item
						span(class="type-box-" + i, style="color: rgba(31, 32, 65, 0.25); margin-right: 30px; text-align: right; min-width: 50px; margin-bottom: 51px") #{el.h}
						span(class="type-title-" + i) #{el.text}
	
	.logo-1
		img(src="../../components/logo-m.svg", alt="Toxin")
	.container-flex
		.column
			.text-field
				label.label-field Text field
					input.default-field(value="Email" type="email")
				span.field-title Default
			.text-field
				label.label-field Text field
					span.field-title Hover / Focus
					input.default-field.hover(value="This is pretty awesome" type="text")
			.text-field
				label.label-field Dropdown
					input.dropdown-field(value="Сколько гостей" type="text" readonly)
					span(class="material-icons") expand_more
			.text-field
				label.label-field Masked text field
					input.dropdown-field(value="ДД.ММ.ГГГГ" type="text" readonly)
			.text-field
				label.label-field(for="arrival") Date Dropdown
					span(class="material-icons") expand_more
					input.arrival(value="ДД.ММ.ГГГГ" readonly)
				label.label-field(for="arrival") Date Dropdown
					span(class="material-icons") expand_more
					input.arrival(value="19.08.2019" readonly)
			.text-field
				label.label-field(for="date-field") Filter date dropdown
					input.date-filter(value="19 авг - 23 авг")
					span(class="material-icons") expand_more
			.text-field
				label.label-field(for="subscribe") subscription text field
					input.subscribe.arrow-send(value="Email" type="email")
		.column
			.checkbox-buttons
				label.label-check Checkbox Buttons
				span Можно курить
					input.checkbox-btn(type="checkbox")
				span Можно с питомцами
					input.checkbox-btn(type="checkbox")
				span Можно пригласить гостей (до 10 человек)
					input.checkbox-btn(type="checkbox")
			.radio-buttons
				label.label-radio Radio buttons
					.radio
						span Мужчина
							input.radio-btn(type="radio" name="radio")
						span Женщина
							input.radio-btn(type="radio" name="radio")
			.toggle-buttons
				label.label-toggle Toggle
					span Получать спецпредложения
						input.toggle-check(type="checkbox" name="toggle")
					span Получать спецпредложения
						input.toggle-check(type="checkbox" name="toggle")
			.like-buttons
				label.label-like Like button
					.block-btn
						span.like-btn
							span.material-icons favorite_border
							span.digit 2
							input(type="button")
						span.like-btn
							span.material-icons favorite
							span.digit 12
							input(type="button")
			.rate-buttons
				label.label Rate button
					.star-rating
						.star-rating__wrap
							each el in ['5', '4', '3', '2', '1']
								input.star-rating__input(type="radio", name="rating", value=el, id="star-rating-" + el)
								label.star-rating__ico.material-icons.md-24(for="star-rating-" + el) star_rate
							each el in ['5', '4', '3', '2', '1']
								input.star-rating__input(type="radio", name="rating", value=el, id="star-rating-" + el)
								label.star-rating__ico.material-icons.md-24(for="star-rating-" + el) star_rate
		.column
			.range-slider
				label.label Range slider
				span.range-slider-price 5 000₽ - 10 000₽
				.range-slider__body
					.range-slider__active
			.buttons-btn
				label.label Buttons
				.buttons-gradient
					a.btn.btn-gradient(href="#") Click me
					a.btn.btn-gradient__active(href="#") Click me
				.buttons-not-gradient
					a.btn.btn-not-gradient(href="#") Click me
					a.btn.btn-not-gradient__active(href="#") Click me
				.buttons-simple
					a.btn-simple-purple(href="#") Click me
					a.btn-simple(href="#") Click me
				.button-arrow
					a.arrow-btn(href="#") Перейти к оплате
			.pagination
				h4.label Pagination
				ul.pagination-list
					each num in ['1', '2', '3', '...', '15']
						li.pagination-list-item: a.pagination-list-link(href="#") #{num}
					li.pagination-list-item: span.material-icons arrow_forward
				p.pagination-title 1 – 12 из 100+ вариантов аренды
		.column
			.dropdown
				.dropdown-default
					label.label Dropdown
						input.dropdown-default__input(type="text" value="2 спальни, 2 кровати...")
						span.material-icons expand_more
						span.dropdown-title Default
				.dropdown-default
					label.label Dropdown
						input.dropdown-default__input(type="text" value="2 спальни, 2 кровати...")
						span.material-icons expand_more
						span.dropdown-title Expanded
						.dropdown-expand
							span.dropdown-expand__item Спальни
								span.dropdown-expand__value 2
							span.dropdown-expand__item Кровати
								span.dropdown-expand__value 2
							span.dropdown-expand__item Ванные комнаты
								span.dropdown-expand__value 0
				.expandable-checkbox-list
					h4.label Expandable checkbox list
					span.material-icons expand_more
				.expandable-checkbox-list
					h4.label Expandable checkbox list
					span.material-icons expand_less
					.expand-checkbox
						each text, i in ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']
							div
								input.checkbox-item__input(type="checkbox", name="check", id="cb" + i)
								label.checkbox-span #{text}