block title
	title Отель "Toxin" | Компоненты

block styles
	link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet", href="ui-kit.sass")

block content
	.logo
		img(src="../../components/logo-m.svg", alt="Toxin")
	.container-flex
		.colors
			ul.colors-list
				-
					let text= [
						{text: 'Dark Shade 100%', code: '#1F2041'},
						{text: 'Dark Shade 75%', code: '#1F2041'},
						{text: 'Dark Shade 50%', code: '#1F2041'},
						{text: 'Dark Shade 25%', code: '#1F2041'},
						{text: 'Dark Shade 5%', code: '#1F2041'},
						{text: 'Purple', code: '#BC9CFF'},
						{text: 'Green', code: '#6FCF97'}
					];
				each element, n in text
					li.colors-list-item
						div(class="colors-box-" + n, style="width: 70px; height: 70px;border-radius: 6px; margin-bottom: 20px")
						.colors-title
							span.colors-title-description #{element.text}
							span.colors-title-code #{element.code}

		.type
			ul.type-list
				-
					let type= [
						{h: 'H1', text: 'This one is the sub-section or widget title'},
						{h: 'H2', text: 'Next one is the item title inside widgets'},
						{h: 'H3', text: 'This is a label or CTA text'},
						{h: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'}
					]
				each el, i in type
					li.type-list-item
						span(class="type-box-" + i, style="color: rgba(31, 32, 65, 0.25); margin-right: 30px; text-align: right; min-width: 50px; margin-bottom: 51px") #{el.h}
						span(class="type-title-" + i) #{el.text}
	
	.logo-1
		img(src="../../components/logo-m.svg", alt="Toxin")
	.container-flex
		.column
			.text-field
				label.label-field Text field
					input.default-field(value="Email" type="email")
				span.field-title Default
			.text-field
				label.label-field Text field
					span.field-title Hover / Focus
					input.default-field.hover(value="This is pretty awesome" type="text")
			.text-field
				label.label-field Dropdown
					input.dropdown-field(value="Сколько гостей" type="text" readonly)
					span(class="material-icons") expand_more
			.text-field
				label.label-field Masked text field
					input.dropdown-field(value="ДД.ММ.ГГГГ" type="text" readonly)
			.text-field
				label.label-field(for="arrival") Date Dropdown
					span(class="material-icons") expand_more
					input.arrival(value="ДД.ММ.ГГГГ" readonly)
				label.label-field(for="arrival") Date Dropdown
					span(class="material-icons") expand_more
					input.arrival(value="19.08.2019" readonly)
			.text-field
				label.label-field(for="date-field") Filter date dropdown
					input.date-filter(value="19 авг - 23 авг")
					span(class="material-icons") expand_more
			.text-field
				label.label-field(for="subscribe") subscription text field
					input.subscribe.arrow-send(value="Email" type="email")
		.column
			.checkbox-buttons
				h4.label-check Checkbox Buttons
				input.checkbox-btn#smoke(type="checkbox")
				label.checkbox(for="smoke") Можно курить
				input.checkbox-btn#pets(type="checkbox" checked)
				label.checkbox(for="pets") Можно с питомцами
				input.checkbox-btn#guests(type="checkbox" checked)
				label.checkbox(for="guests") Можно пригласить гостей (до 10 человек)
			.radio-buttons
				label.label-radio Radio buttons
					.radio
						input.radio-btn#men(type="radio" name="radio" checked)
						label.radio-label(for="men") Мужчина
						input.radio-btn#women(type="radio" name="radio")
						label.radio-label(for="women") Женщина
			.toggle-buttons
				label.label-toggle Toggle
					input.toggle-check#active(type="checkbox" checked)
					label.label(for="active")  Получать спецпредложения
					input.toggle-check#inactive(type="checkbox")
					label.label(for="inactive") Получать спецпредложения
			.like-buttons
				label.label-like Like button
					.block-btn
						span.like-btn
							span.material-icons favorite_border
							span.digit 2
							input(type="button")
						span.like-btn
							span.material-icons favorite
							span.digit 12
							input(type="button")
			.rate-buttons
				label.label Rate button
					.star-rating
						.star-rating__wrap
							each el in ['5', '4', '3', '2', '1']
								input.star-rating__input(type="radio", value=el, id="star-rating-" + el)
								label.star-rating__ico.material-icons(for="star-rating-" + el) star_rate
							each el in ['5', '4', '3', '2', '1']
								input.star-rating__input(type="radio", value=el, id="star-rating-" + el)
								label.star-rating__ico.material-icons(for="star-rating-" + el) star_outline
		.column
			.range-slider
				label.label Range slider
				span.range-slider-price 5 000₽ - 10 000₽
				.range-slider__body
					.range-slider__active
			.buttons-btn
				label.label Buttons
				.buttons-gradient
					a.btn.btn-gradient(href="#") Click me
					a.btn.btn-gradient__active(href="#") Click me
				.buttons-not-gradient
					a.btn.btn-not-gradient(href="#") Click me
					a.btn.btn-not-gradient__active(href="#") Click me
				.buttons-simple
					a.btn-simple-purple(href="#") Click me
					a.btn-simple(href="#") Click me
				.button-arrow
					a.arrow-btn(href="#") Перейти к оплате
			.pagination
				h4.label Pagination
				ul.pagination-list
					each num in ['1', '2', '3', '...', '15']
						li.pagination-list-item: a.pagination-list-link(href="#") #{num}
					li.pagination-list-item: span.material-icons arrow_forward
				p.pagination-title 1 – 12 из 100+ вариантов аренды
		.column
			.dropdown
				.dropdown-default
					label.label Dropdown
						input.dropdown-default__input(type="text" value="2 спальни, 2 кровати...")
						span.material-icons expand_more
						span.dropdown-title Default
				.dropdown-default
					label.label Dropdown
						input.dropdown-default__input(type="text" value="2 спальни, 2 кровати...")
						span.material-icons expand_more
						span.dropdown-title Expanded
						.dropdown-expand
							span.dropdown-expand__item Спальни
								span.dropdown-expand__value 2
							span.dropdown-expand__item Кровати
								span.dropdown-expand__value 2
							span.dropdown-expand__item Ванные комнаты
								span.dropdown-expand__value 0
				.expandable-checkbox-list
					h4.label Expandable checkbox list
					span.material-icons expand_more
				.expandable-checkbox-list
					h4.label Expandable checkbox list
					span.material-icons expand_less
					.expand-checkbox
						each text, i in ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']
							input.checkbox-item__input(type="checkbox", name="check", id="cb" + i)
							label.checkbox-label(for="cb" + i) #{text}
							if (i == 2 || i == 3 || i == 4)
								input.checkbox-item__input(type="checkbox", name="check", id="cb" + i, checked)
			.icons
				.icons-item
					span.material-icons insert_emoticon
					span.icons-item-title Комфорт
						span.icons-item-description Шумопоглощающие стены
				.icons-item
					span.material-icons location_city
					span.icons-item-title Удобство
						span.icons-item-description Окно в каждой из спален
		.column
			.dropdown
				.dropdown-default
					label.label Dropdown
						input.dropdown-default__input(type="text" value="Сколько гостей")
						span.material-icons expand_more
						.dropdown-expand-1
							span.dropdown-expand__item Взрослые
								span.dropdown-expand__value 0
							span.dropdown-expand__item Дети
								span.dropdown-expand__value 0
							span.dropdown-expand__item Младенцы
								span.dropdown-expand__value 0
							.dropdown-expand-1__btn
								a.btn-simple-purple(href="#") Применить
			.rich-checkbox
				h4.label Rich checkbox buttons
				.rich-checkbox-block
					input.rich-checkbox__input(type="checkbox" name="rti" id="rti1")
					label.checkbox-label Широкий коридор
						span.checkbox-title Ширина коридоров в номере не менее 91 см.
				.rich-checkbox-block
					input.rich-checkbox__input(type="checkbox" name="rti" id="rti2")
					label.checkbox-label Помощник для инвалидов
						span.checkbox-title На 1 этаже вас встретит специалист и проводит до номера.
			.testimonials
				.user-info
					.avatar
					p.name Мурад Сарафанов
						span.activity 5 дней назад
				.testimonials-content
					.like-button
						span.like-btn
							span.material-icons favorite
							span.digit 12
							input(type="button")
					.testimonials-content__text
						p.text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
		.column
			.dropdown
				.dropdown-default
					label.label Dropdown
						input.dropdown-default__input(type="text" value="3 гостя")
						span.material-icons expand_more
						.dropdown-expand-1
							span.dropdown-expand__item Взрослые
								span.dropdown-expand__value 0
							span.dropdown-expand__item Дети
								span.dropdown-expand__value 0
							span.dropdown-expand__item Младенцы
								span.dropdown-expand__value 0
							.dropdown-expand-1__btn
								a.btn-simple-purple(href="#") Очистить
								a.btn-simple-purple(href="#") Применить
			.bullet-list
				h4.label Bullet list
				ul.bullet-list-block
					each text in ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
						li.bullet-list__item #{text}
			
