mixin field-default()
  input(class="field-default ")&attributes(attributes)

mixin field-label(text, id)
  label(for="id")= text
  input(class="field-default ", id=id)&attributes(attributes)

mixin field-dropdown(text, id, value)
  label(class="label-cap" for="id")= text
  input(class="field-default field-default-dropdown", id=id, value=value)&attributes(attributes)

mixin field-arrow(text, id)
  if (text && id)
    .field-arrow 
      label(for=id)= text
      input(class="field-default " id=id)&attributes(attributes)
  else
    .field-arrow
      input(class="field-default ")&attributes(attributes)

mixin field-masked(text, id)
  label(for=id)= text
  input(class="field-default field-default-masked", id=id disabled)&attributes(attributes)

mixin field-group(classes, text1, id1, text2, id2, value1, value2)
  div(class=classes + '-group-field')
    div(class=classes + '-item')
      +field-dropdown(text1, id1, value1)&attributes(attributes)
    div(class=classes + '-item')
      +field-dropdown(text2, id2, value2)&attributes(attributes)

mixin field-dropdown(text, id, value)
  label(for=id class="label-cap")= text
  input(class="field-default field-default-dropdown " id=id, value=value)&attributes(attributes)
  div(class="dropdown-content")
    span.dropdown-item
      span.dropdown-target спальни
      span.dropdown-value 2
    span.dropdown-item
      span.dropdown-target кровати
      span.dropdown-value 2
    span.dropdown-item
      span.dropdown-target ванные комнаты
      span.dropdown-value.dropdown-value-zero 0