mixin checkbox(text, id, checked)
  if (checked == true)
    .checkbox
      input(id=id type="checkbox" checked)
      label(for=id)= text
  else
    .checkbox
      input(id=id type='checkbox')
      label(for=id)= text

mixin checkbox-rich(title, text, id)
  .checkbox.checkbox-wrapper-rich
    input(type="checkbox" id=id)
    label(for=id class="checkbox-title-rich")= title
      p(class="checkbox-text-rich")= text